.nav-wrapper {
  margin: auto;
  margin-top: 8px;
}

ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 14px;
  padding-left: 5px;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
}

ul li a:hover {
  color: bisque;
}