.btn-wrapper {
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.btn-wrapper:hover {
  border: 1px solid #000000;
}

.cont-wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 0px 80px;
  margin-top: 40px;
}

.left-cont {
  margin-top: 80px;
  border: 1px solid red;
  border-radius: 5px;
}

.right-cont {
  margin-top: 80px;
}

li {
  list-style-type: none;
}



@media screen and (max-width: 1366px) {
  .cont-wrapper {
    grid-gap: 0px 40px;
    margin-top: 30px;
  }

  .left-cont {
    margin-top: 40px;
  }
  
  .right-cont {
    margin-top: 40px;
  }
}