.container {
  margin: 10px 0px 10px 0px;
  padding: 0px 30px 0px 30px;
}

h2{
  font-family: 'Patrick Hand', cursive;
}

.form-control, .datePosted {
  background-color: transparent;
  border-color: #000000;
}

.datePosted {
  outline: none;
  border-radius: 5px;
}